<!DOCTYPE html>
<html lang="en">
<head class="header">
    <meta charset="UTF-8">
    <title>记事本</title>
</head>
<body>
<!--主体区域-->
<section id="app">
    <!-- 输入框 -->
    <header class="header">
        <h1>记事本</h1>
        <input @keyup.enter="add" v-model='todoName' placeholder="请输入任务" class="new-todo"/>
        <button @click='add' class="add">添加任务</button>
    </header>
    <!-- 列表区域 -->
    <section class="main">
        <ul class="todo-list">
            <li class="todo" v-for="(item,index) in list" :key="item.id">
                <div class="view">
                    <span class="index">{{ index + 1 }}.</span><label>{{item.name}}</label>
                    <button @click="del(item.id)" class="destroy">删除</button>
                </div>
            </li>
        </ul>
    </section>
    <!-- 统计和清空 -->
    <footer v-show="list.length>0" class="footer">
        <!--统计-->
        <span class="todo-count">合计：<strong> {{list.length}}</strong></span>
        <!--清空-->
        <button @click="clear" class="clear-complete">
            清空任务
        </button>

    </footer>


</section>


<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

<script>
    const app = new Vue({
        el: '#app',
        data: {
            todoName: '',
            list: [
                {id: 1, name: '跑步1公里'},
                {id: 2, name: '游泳1000米'},
                {id: 3, name: '跳绳1000次'},
                {id: 4, name: '健身1小时'}
            ]
        },
        methods: {
            del(id) {
                console.log(id)
                this.list = this.list.filter(item => item.id != id)
            },
            add() {
                if (this.todoName.trim() === '') {
                    alert('请输入任务名称')
                    return
                }
                this.list.unshift({
                    id: +new Date(),
                    name: this.todoName
                })
                this.todoName = ''
            },
            clear() {
                this.list = []
            }
        }
    })
</script>
</body>
</html>